<html>
    <head>
        <title>Celebrity Voice similarity App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            p {
                font-size: 150%;
            }
        </style>
    </head>
    <body>

        <h1>Celebrity Voice similarity demo app</h1>

        <h3>Select one from the two following options:</h3>
        <p>
        <a href="/bokeh-precalc">Explore pre-computed examples </a>
        </p>
         <p>
        <a href="{{ url_for('audio.index') }}">Record your own voice via microphone</a>
        </p>

    </body>
</html>
