<!DOCTYPE html>

{% extends "bootstrap/base.html" %}
    {% block head %}
        {{super()}}
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
        <meta charset="UTF-8">
    {% endblock %}


    {% block body %}

        {% block navbar %}
        {{nav.mynavbar.render(renderer='darknav')}}
        {% endblock %}

        {% block content %}


                <div class="container">
                <h1>Select one from the following options:</h1>

                <a class="btn btn-primary" href="/bokeh-precalc/galifianakis">Zach Galifianakis example</a>

                <a class="btn btn-primary" href="/bokeh-precalc/carell"> Steven Carell example </a>

                <a class="btn btn-primary" href="/bokeh-precalc/office"> Rainn Wilson example (?)</a>
                </div>
        {% endblock %}
    {% endblock %}
